{% extends "tpahome.html" %}
{% block content %}



<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td,
    th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>

<center>
    <h3 style="color:white">Audit Audit Requests</h3>
</center>
<div class="card">
    <table>
        <th style="text-align:center;color:black;">User Id</th>
        <th style="text-align:center;color:black;">File Name</th>
        <th style="text-align:center;color:black;">Requested Date</th>
        <th style="text-align:center;color:black;">Proof Check</th>
        <th style="text-align:center;color:black;">Status</th>

        <tr>


            {% for i in dc %}
        <tr>
            <td style="text-align:center;color:black;">{{i.id}}</td>
            <td style="text-align:center;color:black;">{{i.filename}}</td>
            <td style="text-align:center;color:black;">{{i.requested_date}}</td>
            <td style="text-align:center;color:black;">{{i.proofcheck}}</td>
            <td style="text-align:center;color:black;">{{i.status}}</td>


        </tr>
        {% endfor %}
        </tr>
    </table>
</div>






{% endblock %}